
body{
    background-color:#fff;
}

.deck{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem;
}

.card{
    flex-grow: 1;
    border: 1px dotted black;
    margin: 1rem;
    padding: 1rem;
    background-color: lightsalmon;
    color: black;
}

.add{
    margin: 0 3rem;
    padding: 2rem;
    font-size: 2rem;
    border-radius: 20px;
}

.edit{
    width: 50%;
    margin: 1rem auto;
}