
body{
    background-color:#fff;
}

.deck{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 4rem;
}

.card{
    flex-grow: 1;
    border: 1px dotted black;
    margin: 2rem;
    padding: 1rem;
    background-color: lightsalmon;
    color: black;
}

.add{
    margin: auto 45%;
}